body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));
  font-family: Arial, Helvetica, Helvetica Neue;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}


.person button {
  background:transparent;
  border:0px;
  margin:0px;
  padding:0px;
}


.person {
  border-radius: 25px;
  background: yellow;
  padding: 7px;
  margin-top:7px;
  margin-bottom:7px;
  margin-left:13px;
  margin-right:13px;
  display:inline-block;
}

.person.selected {
  background: lightyellow;
}


.room {
  border-radius: 25px;
  background: gray;
  padding: 5px;
  margin:7px;
  display:inline-block;
}

.room button {
  background:transparent;
  border:0px;
  margin:0px;
  padding:0px;
}

.room.view {
  background:#ffff33;
}
.room.joined {
  background:#999900;
}

.numPeople {
  background-color: aqua;
  padding: 2px;
  border-radius: 25px;
  font-size: 12px;
  margin-left: 5px;
}

button.vol-control {
  border-radius: 25px;
  background-color: green;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  display:inline-block;
  margin:2px;
}

.pb-container {
  display:inline-block;
  width:50px;
  height:15px;
}

.pb-progress {
  background-color: black;
  height:15px;
}
